{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


</head>
<body>
<ul class="nav navbar-dark bg-dark">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">SPACE GAME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
<div id="content">
        {% block content %}{% endblock %}
    </div>


</body>
<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/jquery.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</html>